<h1 class="text-center">View da Action Mensagem</h1>
<br><br><br>

<!--Alertas que serão mostrando pelo TempData -->
<div class="alert alert-primary" role="alert">
  Um alerta primário simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique se quiser.
</div>
<div class="alert alert-secondary" role="alert">
 Um alerta secundário simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique se quiser.
</div>
<div class="alert alert-success" role="alert">
  Um alerta de sucesso simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique se quiser.
</div>
<div class="alert alert-danger" role="alert">
 Um alerta de perigo simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique se quiser.
</div>
<div class="alert alert-warning" role="alert">
 Um alerta de aviso simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique se quiser.
</div>
<div class="alert alert-info" role="alert">
  Um alerta de informação simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique se quiser.
</div>
<div class="alert alert-light" role="alert">
   Um alerta luz  simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique
   se quiser.
</div>
<div class="alert alert-dark" role="alert">
   Um alerta escuro simples com um link de exemplo <a href="#" class="alert-link">@TempData["mensagem"]</a>.Dê um clique
   se quiser.
</div>